* {
    background-image: url('./images/background.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    color: bisque;
}

body {
    text-align: center;
    color: blue;
    font-size: 18px;
}

body p {
    color: red;
}