{% extends 'base.html' %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    Notes!
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div>
	  {{ message }}
	</div>
{% endfor %}

<br/>
{% for todo in todos %}
<div>
	<h2><a href="{{ url_for('todo', id=todo.id)}}">{{ todo.title }}</a></h2>
	<small>By: {{ todo.todo.name }}<br/>
	{{ todo.date }}</small> <br/><br/>

	{{ todo.description|safe }}
	<br/><br/>
	<a href="{{ url_for('todo', id=todo.id)}}">View Note</a>
	
	{% if todo.todo_id == current_user.id %}
	<a href="{{ url_for('edit_note', id=todo.id)}}">Edit Note</a>

	<a href="{{ url_for('delete_note', id=todo.id)}}">Delete Note</a>

	{% endif %}

	<br/><br/>
</div>
<br/>
{% endfor %}

{% endblock %}