{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    Search Result!
{% endblock %}

{% block content %}
    <p><h2>You Searched For: <em>{{ search }}</em></h2></p>
    {% if todos %}

	{% for note in todos %}
		<div>
	        <h2><a href="{{ url_for('todo', id=note.id)}}">{{ note.title }}</a></h2>
	        <small>By: {{ note.todo.name }}<br/>
	{{ note.date }}</small> <br/><br/>

	{{ note.description|safe }}
	<br/><br/>
	<a href="{{ url_for('todo', id=note.id)}}">View Note</a>
	
	{% if note.todo_id == current_user.id %}
	<a href="{{ url_for('edit_note', id=note.id)}}">Edit Note</a>

	<a href="{{ url_for('delete_note', id=note.id)}}">Delete Note</a>

	{% endif %}
    <br/><br/>
</div>
<br/>
	{% endfor %}

    {% else %}
	    <div>Sorry, your search term: <strong>{{ searc }}</strong> was not found...</div>
	{% endif %}

    <p><a href="/">Return Home</a></p>
    <p><a href="/search">Search again</a></p>
{% endblock %}
