<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/mic-148576_1280.png" type="image/x-icon">
    <title>Update Task</title>
</head>
<body>
    <h1>Update Task</h1>
    <form action="/update/{{ task.id }}" method="post">
        <label for="title">New Task title:</label>
        <input type="text" name="title" id="title" value="{{ task.title }}" required>
        <button type="submit">Update Task</button>
    </form>
</body>
</html>